#about {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5rem 1rem;
  background: var(--light-bg);
  min-height: 100vh;
}

.about-container {
  max-width: 800px;
  background: var(--light-bg);
  padding: 30px;
  border-radius: 20px;
  box-shadow:
    10px 10px 25px #bebebe,
    -10px -10px 25px #ffffff;
  transition: all 0.3s ease;
}

#about h1 {
  text-align: center;
  font-size: 2.5rem;
  font-weight: 700;
  color: #1a1a1a;
  margin-bottom: 1.5rem;
  line-height: 1.3;

  background: linear-gradient(90deg, var(--accent-start), var(--accent-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about-container p {
  font-size: 1.1rem;
  color: #444;
  line-height: 1.6;
}

/* ----- Dark Theme ----- */

body.dark #about {
  background-color: var(--dark-bg);
}

body.dark .about-container {
  background: var(--dark-bg);
  box-shadow:
    10px 10px 25px #111,
    -10px -10px 25px #2a2a2a;
}

body.dark .about-container p {
  color: #ccc;
}