* {
    box-sizing: border-box;
    font-family: Segoe UI, sans-serif;
}

body {
    background-color: var(--background);
}

:root {
    --background: #FFFFFF;
    --section-bg: #F7F7F7;
    --primary-text: #1A1A1A;
    --secondary-text: #444444;
    --gradient: linear-gradient(135deg, #00C6FF, #0072FF);
    --accent: #0072FF;
    --card-bg: rgba(0, 0, 0, 0.03);
    --card-border: 1px solid rgba(0, 0, 0, 0.05);
}

.dark {
    --background: #121212;
    --section-bg: #1F1F1F;
    --primary-text: #E0E0E0;
    --secondary-text: #A0A0A0;
    --gradient: linear-gradient(135deg, #00C6FF, #0072FF);
    --accent: #0072FF;
    --card-bg: rgba(255, 255, 255, 0.05);
    --card-border: rgba(255, 255, 255, 0.12);
}