body{
    font-family: 'Inter', sans-serif;
}
h1, h2, h3{
    font-family: 'Lato', sans-serif;
}
html{
    scroll-behavior: smooth;
}



/* Add media queries for responsiveness */
@media (max-width: 768px) {
    .header-content h1 {
        font-size: 2rem;
    }

    .projects-grid {
        grid-template-columns: 1fr;
    }

    section {
        padding: 60px 0;
    }
} 